section {
  margin-bottom: 20px;
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;

}

img {
  
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 20px;
   width: 200px;
  height: 200px;
  background-color: rgb(164, 221, 244);
  border: 10px solid rgb(12, 16, 249);
  

}
